<div class="row">
  <div class="col-md-3">
    <%- model_class = Workout -%>
    <div class="page-header">
      <h1><%=t '.title', :default => @workout.title %></h1>
    </div>
  </div>
</div>

<!-- <dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:cardio) %>:</strong></dt>
  <dd><%= @workout.cardio %></dd>
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @workout.title %></dd>
</dl> -->
<div class="row">
  <div class="col-md-12">

    <div class="well timer"></div>
    <!-- <input type="text" name="timer" class="form-control timer" placeholder="0 sec"> -->
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <button class="btn btn-success start-timer-btn">Rest</button>
    <!-- <button class="btn btn-success reset-timer-btn">Rest</button> -->
    <button class="btn btn-success resume-timer-btn hidden">Resume</button>
    <button class="btn btn-danger pause-timer-btn hidden">Pause</button>
    <button class="btn btn-danger remove-timer-btn hidden">Remove Timer</button>
  </div>
</div>